* text=auto eol=lf

*.blade linguist-vendored export-ignore
*.css linguist-vendored export-ignore
*.js linguist-language=JavaScript
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
